body, html {
    
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: 'Montserrat', monospace;
}
#frame{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    justify-content: center;
}   


#operators {
display: flex;
flex-direction: column;
gap: 10px;
align-items: stretch;

    
}
#operators > button {
 border-radius: 2px; 
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  box-sizing: border-box;
  color: #00132C;
  font-family: "Montserrat",sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
  padding: 24px 10px;
  width: 90px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


#answer {
    font-size: 2em;
    font-weight: 700;
    font-family: "Cherry Bomb One", system-ui;
}

.mainframe {
display: flex;
flex-direction: row;
flex-wrap: wrap;
width: 400px;
gap: 10px;
margin: 0 auto;
}

#userInput {
    width:400px;
    height:32px;
}

#enterBtn, #clearBtn {
}

#bottom-row {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}


#bottom-row > button {
 
    height: 60px;
    width: 100%;
    font-size: 22px;
}



footer {
    text-align: center;
    margin: auto;
    padding: 1em;
    width: 100%;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    padding: 0.5em;
    align-items: center;
}



button {
  align-self: center;
  background-color: #cd79d5b6;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 2px;
  border: solid 1px #cd79d5b6;
  /* blobby radii border-radius: 15px 225px 255px 15px / 15px 255px 225px 15px; */
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #413e41;
  cursor: pointer;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  line-height: 22px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
   
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
background-color: transparent;
cursor: pointer;
    font-size: 30px;
    color: rgb(71, 15, 66);
    font-weight: 700;
}

button:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}



button:hover:before {
  background-color: #eec8ea;
}

@media (min-width: 768px) {
  button{
    padding: 16px 32px;
  }
}