*{
    font-family: 'Courier New', Courier, monospace;
}
#frame{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}

button{
    width: 44px;
    height: 44px;
    font-size: 28px;
  
    border: solid 1px #4a5a72;
    align-self: center;
    font-family: 'Courier New', Courier, monospace;

}
button:hover{
    background-color: #4a5a72;
    font-size: 30px;
    color: white;
    font-weight: 700;
}

#userInput{
    width: 33%;
    height: 100px;
}
#clearBtn{
    width: 33%;

}

#enterBtn{
    width: 33%;
    border: solid 1px #4a5a72;
    align-self: center;
}

#square{
    font-size: 100px;
}
